*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;

}

.container{
  width: 80%;
  margin: auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float-left{
  float: left;
}

header {
  height: 500px;
  background-color: #0d325a;
  background-image: url('../img/background-header.png');
  background-size: 60%;
  background-position: 110% 110%;
  background-repeat: no-repeat;
}

.header-nav{
  height: 80px;
  background-color: green;
}

.header-logo{
  width: 20%;
  height: 100%;
  background-color: red;
}

.jumbotron{
 /* height: 450px;
 background-color: orange; */
}

main{
  height: 600px;
  width: 100%;
  background-color: pink;
}

.corso{
  /* height: 100px;
  background-color: red; */
}

.corso .container{
  background-color: lightgrey;
  width: 100%;
}

.corso .container h2{
  text-align: center;
  padding: 10px;
}

.corso .container p{
  text-align: center;
  color: grey;
  padding: 10px;
}
