*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;

}

.container{
  width: 80%;
  margin: auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float-left{
  float: left;
}


.btn {
  border-radius: 5px;
  padding: 5px 10px;
}

.btn-green{
  background-color: rgb(68, 209, 55);
}

header {
  height: 500px;
  background-color: #0d325a;
  background-image: url('../img/background-header.png');
  background-size: 60%;
  background-position: 110% 110%;
  background-repeat: no-repeat;
}

header li a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.header-nav{
  height: 80px;
}

.header-logo{
  width: 15%;
}

.header-nav-center{
  width: 55%;
  height: 100%;
}

.header-nav-right{
  width: 25%;
}


.header-logo img{
 margin-top: 15px;
}

.header-nav li{
  display: inline-block;
  padding: 10px 10px;
}



.jumbotron{
height: 470px;
position: relative;
}

.jumbotron-text{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
}

.jumbotron-text h1{
  color: white;
  font-size: 30px;
  margin-bottom: 40px;
}

.jumbotron-text a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

main{
  height: 600px;
  width: 100%;
  background-color: pink;
}

.corso{
  /* height: 100px;
  background-color: red; */
}

.corso .container{
  background-color: lightgrey;
  width: 100%;
}

.corso .container h2{
  text-align: center;
  padding: 10px;
}

.corso .container p{
  text-align: center;
  color: grey;
  padding: 10px;
}
